# Tensorflow nightly till 2.24 comes out for cuda 11 support
tensorflow==2.3.1
# Install packages
--extra-index-url https://developer.download.nvidia.com/compute/redist
nvidia-dali-cuda110
--extra-index-url https://developer.download.nvidia.com/compute/redist
nvidia-dali-tf-plugin-cuda110
# Other stuff
matplotlib
onnx
# MXNet Framework with cuda 10
mxnet
numpy==1.18.5
opencv-python
pillow
utilss