# ---------------------------------------------------------------------------------
# Custom package locations
# ---------------------------------------------------------------------------------
# Add repository for nvidia dali, cuda 10
--extra-index-url https://developer.download.nvidia.com/compute/redist/
# ---------------------------------------------------------------------------------
# Install packages
# ---------------------------------------------------------------------------------
# Data I/O
nvidia-dali-cuda100
nvidia-dali-tf-plugin-cuda100
# ---------------------------------------------------------------------------------
# Machine Learning Frameworks
# ---------------------------------------------------------------------------------
# Google's Tensorflow
tensorflow==2.1.0
# Microsoft ONNX
onnx==1.6.0
# Apaches MXnet
mxnet-cu101mkl==1.5.0
# ---------------------------------------------------------------------------------
# Image Processing Frameworks
# ---------------------------------------------------------------------------------
opencv-python==4.2.0.34
pillow==7.1.2
# ---------------------------------------------------------------------------------
# Python Datascience support
# ---------------------------------------------------------------------------------
numpy==1.18.3
matplotlib==3.2.1
# ---------------------------------------------------------------------------------
# General Python packages
# ---------------------------------------------------------------------------------
utils==1.0.1
setuptools==46.1.3
